/*Membuat semua disain jika di panggil*/
* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open sans',sans-serif;
    background: #F6F6F6;
}

.Atasdong{
    width: 1100px;
    /*Membuat wrapper berada di tengah*/
    margin: auto;
    position: relative;
}

.wrapper{
    width: 1100px;
    /*Membuat wrapper berada di tengah*/
    margin: 20px auto;
    position: relative;
}
/*Style untuk Logo*/

.logo a {
    font-size: 40px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #364f6b;
}

.menu {
    float: right; 
}
/*Header Arif*/
.Arif {
    background-image: url("travel11.png");
    background-size:cover;  
    width: 100%;
}
marquee
{
   margin-top: -2900px;
   padding-top: 2000px;
   margin-bottom: -350px;
   color:  white;

}
.animasi
{
   margin-left:-20px;
}
.animasi img
{
   width: 600px;
   margin-left: 10px;
   float:left;
   margin-top: 0x;
   position: sticky;
}
.content
{
    text-align:center;
    margin-top: 100px;
    margin-left: 0px;
    color: white;
    padding-top: 100px;
   
}
.content h1 {
    font-size: 50px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.content p {
   margin-top: 50px;
}
.judul_besar
{
   margin-top: 50px;
  
}
.penjelasan
{
   margin-top:-35px;
}
.content h3
{
   font-size: 35px;
   margin-top: -50px;
   margin-bottom: -70px;
   color: white;
}

button {
   font-family: sans-serif;
   font-size: 30px;
   color:black;
   background: white;
   color: purple;
   border: purple 1px solid;
   border-radius: 30px;
   padding: 20px 50px;
   margin-top: 10px;
   margin-left: -100px;
   box-shadow: -2px 2px purple;
   position: absolute;
}

button:hover {
   opacity: 0.8;
}
button:active {
 position: relative;
 top: 7px;
 box-shadow: none;
}

.box1{
   margin-top: 190px;
   width:100%;
   height:100px;
   background:#EBB933;
}

/**/
nav{
    width: 100%;
    margin: auto;
    /*display flex buat bikin kolom*/display: flex;
    line-height: 80px;
    /*mengatur posisi buat selalu di atas*/ position: sticky;
    /*mengatur posisi buat selalu di atas buat mac*/ position: -webkit-sticky;
    top: 0px;
    background: #F6F6F6;
    z-index: 1;
    border-bottom: 1px solid #364f6b;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
} 


section{
   margin: auto;
   /*felx membuat margin dalam bentuk kolom*/display: flex;
   margin-bottom: 50px; 
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.Gambaryo img{
    width: 500px;
    height: 500px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:  #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:  #ffffff;
    cursor: pointer;
    font-weight: bold;
    background: #fc5185;
}
a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}
p {
    margin:10px 0px 10px 0px ;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width :100%;
    display: flex;
    flex-wrap: wrap;
}
.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}
.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    text-align: center;
    color: #364f6b;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: flex;
}
.kartu-partner{
    width: 20%;
    margin: 0 auto ;
}
.kartu-partner img {
    width: 150px;
}
#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}
.ig img {
    width: 50px;
    height: 50px;
}
.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 32%;
    margin: 0 auto;
}
h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 40px 0px;
    margin-top: 30px;
}


/*Ngatur buat kagak hancur saat di ganti layar*/
@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }
    .Gambaryo img{
        display: block;
        width: 80%;
        margin: auto;
    }
    .animasi img {
        display: block;
        width: 80%;
        margin: auto;
    } 
    .Arif{
        display: block;
        width: 100%;
    }

    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }
    nav .menu {
        width: 100%;
        margin: 0;
    }
    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }
    section {
        display: block;
    }
    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
       width: 50%; 

    }
    .kartu-partner img {
        width: 50%;
        margin: auto;
    }
    .footer-section {
        width: 50%;
    }

}







